parameter_defaults:
  CloudName: {{ local_ip }}
  # default gateway
  ControlPlaneStaticRoutes:
   - ip_netmask: 0.0.0.0/0
     next_hop: {{ default_route }}
     default: true
  Debug: true
  DeploymentUser: {{ ansible_env.USER }}
  DnsServers:
    - {{ dns_server_1 }}
    - {{ dns_server_2 }}
  NeutronDhcpAgentDnsmasqDnsServers:
    - {{ dns_server_1 }}
    - {{ dns_server_2 }}
  # needed for vip & pacemaker
  KernelIpNonLocalBind: 1
  DockerInsecureRegistryAddress:
  - {{ local_ip }}:8787
  NeutronPublicInterface: {{ public_interface }}
  # re-use ctlplane bridge for public net
  NeutronBridgeMappings: datacentre:br-ctlplane
  NeutronPhysicalBridge: br-ctlplane
  # enable to force metadata for public net
  NeutronEnableForceMetadata: true
  NeutronDnsDomain: shiftstack.com
  NeutronPluginExtensions: "qos,port_security,dns_domain_ports"
  ControllerExtraConfig:
    neutron::agents::dhcp::dnsmasq_local_resolv: true

  StandaloneEnableRoutedNetworks: false
  StandaloneHomeDir: /home/{{ ansible_env.USER }}
  StandaloneLocalMtu: 1500
  {{ parameters_extra }}
